.navbar
    .logo Library of Libraries
    button.toggle-btn &#9776;

.sidebar.deActive
    ul
        li
            a(href="/user/dashboard") Dashboard
        li
            a(href="/user/my-books") My Books
        li
            a(href="/user/borrow-book") Borrow a Book
        li
            a(href="/user/return-book") Return a Book
        li
            a(href="/user/book-status") Book Status
        li
            a(href="/user/manage-preferences") Manage Preferences
        li
            a(href="/user/payment-methods") Payment Methods
        li
            a(href="/user/library-alerts") Library Alerts
        li
            a(href="/user/support") Support
        li
            a(href="/user/profile") My Profile
        li
            a(href="/user/logout") Logout
