extends layout 

block content-head 
    title About Us - Library of Libraries
block content-body  

  section.about-us-section
    h2 About Us
    p
      | Welcome to our Library Management System! We are committed to offering a seamless and efficient experience for managing your 
      | reading and research materials. Our platform is designed to make borrowing, returning, and reserving books as easy as possible.
    p
      | Our mission is to support knowledge seekers by providing a user-friendly interface, enabling them to discover a vast range of books 
      | and resources from various genres and fields. Whether you're looking for academic research material or a novel to enjoy, we have you covered.
    img.about-us-image(src="./assets/img/aboutus.jpg" alt="About Us Image")
