extends layout 

block content-head 
    title Services - Library of Libraries
    
block content-body 
    section.services-section
        h2 Our Services
        .services-container
            .service-item
                i.fas.fa-book
                h3 Book Borrowing
                p Borrow books from our extensive collection and enjoy reading at your convenience.
            .service-item
                i.fas.fa-clipboard-check
                h3 Catalog Management
                p Manage your borrowed books, renew them, and check your borrowing history easily.
            .service-item
                i.fas.fa-headset
                h3 24/7 Support
                p We provide 24/7 customer support to assist you with any questions or concerns regarding your library account.
